input{
	border:1px solid black;
	width:11px;
	height:15px;
	margin:0;
	padding:0;
	float:right;
  outline: none;
}
div{
	text-align:right;
	width:350px;
}
#CNP{
	text-align:right;
	width:310px;
}